@media (max-width: 874px) {
    div #content {
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
}

@media (max-width: 669px) {
    div #content {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media (max-width: 619px) {
    div #left-copy, div #right-form {
        float: none !important;
        margin: 5px !important;
        position: inherit !important;
        width: 90% !important;
    }

    label, input, select {
        padding: 5px !important;
        width: 100% !important;
    }
}

a, a:hover, a:visited {
    color: black;
    text-decoration: none;
}

button {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

div #content {
    display: inline-block;
    margin-left: 15%;
    margin-right: 15%;
}

div form {
    text-align: left;
    padding-top: 15px;
}

div.form_row {
    margin-bottom: 10px;
    width: 50%;
}

div.form_row input {
    border-radius: 5px;
    border-style: solid;
}

div.form_row input.warning {
    border-color: red;
    border: 2px solid;
}

div.form_row label {
    margin-right: 15px;
    width: 30%;
}

div.form_row label.required:after {
    color: red;
    content: "*";
}

div.form_row select {
    border-radius: 5px;
    border-style: solid;
}

div #left-copy {
    float: left;
    margin: 15px;
    position: relative;
    width: 45%;
}

div #main_content:after {
    clear: both;
    float: none;
    width: 100%
}

div #right-form {
    float: right;
    margin: 15px;
    position: relative;
    width: 45%;
}

footer {
    display: block;
    padding: 10px;
    text-align: center;
}

#header {
    background-color: #dddddd;
    text-align: center;
    padding: 10px;
}

#header .title {
    font-size: 46px;
    font-weight: bold;
}

#header .subtitle {
    font-size: 16px;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.text-centered {
    text-align: center;
}

